{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "arrow-body-style": 0,
    "no-case-declarations": 0,
    "quote-props": [2, "consistent-as-needed"],
    "max-len": 0,
    "import/imports-first": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/prop-types": [1],
    "react/require-extension": 0,
    "react/jsx-curly-spacing": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/no-danger": 0,
    "jsx-a11y/aria-role": 0,
    "jsx-a11y/img-redundant-alt": 0,
    "jsx-a11y/img-has-alt": 0,
    "linebreak-style": ["error", "windows"],
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "__DEV__": true,
    "window": true,
    "document": true
  }
}
